.box {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-bottom: 1px solid black;
}

#canvas {
    width: 600px;
    padding: 200px 20px;
    text-align: center;
    border: 1px solid #333;
}

#result-span {
    background: red;
    display: inline-block;
    padding: 10px;
    color: #fff;
    margin: 10px 0;
}

.available #result-span {
    background: green;
}

.nearby #result-span::after{
    content: 'nearby';
    margin-left: 10px;
}
